*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styling for header */
.header {

}

.nav-bar {

}

.logo {

}


.nav-links {

}

.header-content {

}

.header-info {

}

.info-heading {

}

.info-text {

}

.button {

}

.info-button {

}

.header-image {

}

/* styling for main content */
.main-content {

}

.trends {

}

.trends-heading {

}

.frames-container {

}

.frames {

}

.picture {

}

.frame-text {

}

.reviews {

}

.review-text {

}

.review-author {

}

.banner {

}

.left {

}

.banner-heading {

}

.banner-text {

}

.banner-button {

}

/* Styling for footer */
.footer {

}

.footer-text {

}